body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4efdd;
}

.app {
  text-align: center;
  padding: 30px;
}

h1 {
  color: #7a1cac;
  font-size: 3rem;
  margin-bottom: 30px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.rugratsImage {
  width: 220px;
  height: 220px;
  object-fit: cover;
  /* crop image instead of stretching it */
  border-radius: 50%;
  border: 5px solid rgb(100, 100, 169);
}